/* section activité */
.act-title {
  margin-top: 30px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.act-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: stretch;
  height: 450px;
  width: 96%;
  margin: 0;
  padding-bottom: 20px;
  background-color: red;
}

.act-container a {
  text-decoration: none;
  color: black;
}

.act-container img {
  border-radius: 20px 20px 0 0;
  justify-content: center;
  width: 100%;
  height: 85%;
  object-fit: cover;
  object-position: center;
  display: flex;
}

.act-subtitle  {
  color: black;
  margin-top: 15px; 
  margin-left: 15px;
  display: flex; 
  justify-content: start;
  align-items: center;
  font-size: 14px;
}

.act-div {
  border-radius: 20px;
  box-sizing: content-box;
  box-shadow: 0 0 16px #f2f2f2;
  height: 100%;
  width: 23%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

.act-div:nth-child(2) {
  height: 170px;
  padding-bottom: 35px;
}

.act-div:nth-child(3) {
  height: 110px;
  margin-top: 75px;
  padding-bottom: 35px;
}

.act-div:nth-child(5) {
  height: 150px;
  padding-bottom: 35px;
}

.act-div:nth-child(6) {
  height: 150px;
  margin-top: 56px;
  padding-bottom: 35px;
}

/* activités mediascreen 576px @media screen and (max-width: 576px*/
@media screen and (max-width: 576px) {

  .act-container {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 100%;
  }
  
  .act-div {
    width: 90%;
    height: 160px !important;
    margin: auto;
    margin-bottom: 20px;
    padding-bottom: 25px !important;
  }
  
  .act-div:nth-child(3){
    margin-top: 0;
  }

  .act-div:nth-child(6) {
    margin-top: 0;
  }
  
  .act-title {
    margin-left: 20px;
  }
  
  .sub-title {
    padding-left: 10px;
  }
}