
.act-title {
  margin-top: 50px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.act-container {
  width: 96%;
  margin: 0;
  padding-bottom: 30px;
}

#activity {
  margin-bottom: 20px;
}

.activity-list {
  display: flex;
  justify-content: space-between;
  height: 500px;
}

.activity-list .column {
  width: 23%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 25px;
}

.activity-list .column picture img {
  width: 100%;
  height: calc(100% - 67px);
  object-fit: cover;
  border-radius: 25px 25px 0px 0px;
}

.activity-list .column picture {
  height: 100%;
  box-shadow: 0px 0px 10px 0px #E0E0E0;
  border-radius: 25px;
}

.activity-list .column picture h3 {
  padding: 8px;
  margin-top: 8px;
  font-size: 16px;
  margin-left: 8px;
}

.activity-list .column.double picture {
  height: 45%;
}

#small-picture{
  height: 35%;
}

#medium-picture{
  height: 55%;
}

@media screen and (max-width: 576px) {

  .act-title {
   margin-top:0;
  }
  
  .activity-list{
    display: flex;
    flex-direction: column;
    height: max-content;
    align-items: end;
    justify-content: center;
  }

  .activity-list .column,
  .activity-list .column.double {
    width: 96%;
  }
  
  #medium-picture {
    height: 200px;
    width: 96%;
    margin-bottom: 25px;
    margin-left: 10px;
  }

  .activity-list .column picture,
  .activity-list .column.double picture {
    height: 200px;
    margin-bottom: 25px;
    margin-left: 10px;
  }
}