.ment-container {
  display: flex;
  flex-direction:row;
  justify-content:space-around;
  align-items: center;
  background-color: #f2f2f2;
  margin-top:30px;
  padding-bottom: 25px;
  height: max-content;
}

.mentions {
  width: 30%;
  line-height: 32px;
}

.mentions h3 {
  margin-bottom: 10px;
}

@media screen and (max-width: 576px) {

  .ment-container {
    display: flex;
    flex-direction: column;
    height: 500px;
  }

  .mentions {
    width: 80%;

  }

  
}

