 /* css valid W3C*/
/* <-- Responsive footer mediascreen 768px --> */

.bg-col-grey {
  background-color: #F2F2F2;
}

.container-footer {
  display: flex;
  flex-direction:row;
  max-width: 1240px ;
  padding: 50px 20px;
  margin: auto;
}

.mentions {
  width: 30%;
  line-height: 32px;
  padding-left: 12px;
  list-style: none;
  padding-bottom: 20px
}

.mentions li h3 {
  padding-bottom: 12px
}

.mentions li a {
  text-decoration: none;
  color: #000;
}
  
.mentions li a:hover {
  color: #0065FC;
  font-weight: bold;
}

/* <-- Responsive footer mediascreen 768px --> */

@media screen and (max-width: 768px) {

  .container-footer{
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 420px;
    padding:35px 0 20px 15px;
  }

  .mentions {
    width: 80%;
  }
}
