 /* css valid W3C */
/* <-- Section hebergement --> */
/* <-- Section hebergement populaire --> */
/* <-- Responsive hebergement mediascreen 992px and 768px --> */
/* <-- Responsive populaire mediascreen 576px --> */

/* <-- Section hebergement --> */

#hebergement {
  display: flex;
  justify-content: flex-start;
}

#hebergement a {
  text-decoration: none;
  color: black;
}

.heb-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 65%;
  border-radius: 20px ;
  background-color: #f2f2f2;
  justify-content: space-around;
  margin-right: 20px;
  padding: 10px 20px 20px 20px;
}

.heb-title {
  font-weight: bold;
  font-size: 22px ;
  margin: 20px 0 0 10px;
  padding-bottom: 20px;
  width: 100%;
}

.heb-link {
  font-weight: bold;
  font-size: 18px ;
  padding: 10px 0 30px 10px; 
  background-color: #f2f2f2;
  border: none;
  width: 100%;
  border-radius: 0 0 20px 20px;
}

#afficher:hover {
  color: #0065FC;
}

.heb-card {
  width: 30%;
  height: 200px;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
  border: 3px solid white;
  box-shadow: 0px 5px 10px 0px #E0E0E0;
} 

.heb-card img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.heb-description {
  padding-left: 8px;
  padding-bottom: 10px;
}

.heb-description h2 {
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
}

.heb-description p {
  font-size: 14px;
  margin-top: 4px;
  margin-bottom: 6px;
}

.star {
  color: #0065fc;
  font-size: 12px;
}

.no-star {
  color: #f2f2f2;
  font-size: 12px;
}

/* <-- Section hebergement populaire --> */

.pop-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 35%;
  border-radius: 20px;
  background-color: #f2f2f2;
  justify-content: center;
}

.pop-div {
  background-color: white;
  border-radius: 20px;
  margin: 15px 20px 2px 20px;
  border: 4px solid white;
}

.pop-div:nth-child(1) {
  border: none;
  background-color: #f2f2f2;
  margin-top: 0px;
}

.pop-title {
  font-weight: 700;
  font-size: 22px;
  margin: 20px 10px 10px 10px
}

.pop-title i{
  display: flex;
  justify-content: flex-end;
  margin-top: -25px;
}

.pop-img img {
  border-radius: 20px 0 0 20px ;
  width: 40%;
  height: 150px;
  padding-right: 15px;
  object-fit: cover;
  float: left;
}

.pop-description {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.pop-description p {
  font-size: 12px;
  margin-bottom: 30px;
}

.pop-description h2 {
  font-size: 16px;
  font-weight: bold;
} 

/* <-- Responsive hebergement mediascreen 992px --> */

@media screen and (max-width: 991px) {
  #hebergement {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .heb-container {
    background-color: white;
    width: calc(100% - 35px);
  }

  .heb-card {
    width: 45%;
  }
  
  .pop-container {
    width: calc(100% + 40px);
    border-radius: 0;
    margin-left: -20px;  
    padding-bottom: 15px;
  }

 .pop-title {
    margin-bottom: 10px;
    margin-top: 30px;
  }
  
  aside {
    order: -1;
  }
  
   .heb-link {
    background-color: white;
    padding-left:0;    
  }

}

/* <-- Responsive hebergement mediascreen 768px --> */

@media screen and (max-width: 768px) {
 
  /* .heb-card img {
    height: 120px;
  }
   */
  .heb-title {
    margin-top: 30px;
    margin-bottom: 10px;
  }
   
}

/* <-- Responsive hebergement mediascreen 576px --> */

@media screen and (max-width: 576px) {
  
.heb-container {
    flex-direction: column;
  }

  .heb-card {
    width: 100%;
  }
}