 
/* <-- Section hebergement --> */

#hebergement {
  display: flex;
  justify-content: flex-start;
  justify-items: center;
}

#hebergement a {
  text-decoration: none;
  color: black;
}

.heb-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
  border-radius: 20px 20px 20px 20px;
  background-color: #f2f2f2;
  justify-content: space-around;
  margin-right: 20px;
}

.heb-title {
  font-weight: bold;
  font-size: 22px ;
  margin-top: 20px;
  padding-left: 20px;
  width: 100%;
}

.heb-link {
  font-weight: bold;
  font-size: 20px ;
  margin-top: 10px;
  margin-bottom:10px;
  width: 200px;
  background-color: #f2f2f2;
  padding-left: 40px;
  border: none;
  width: 100%;
  border-radius: 0 0 20px 20px;
}

.heb-card {
  width: 30%;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 10px;
  border: 3px solid white;
  box-shadow: 0 0 22px #f2f2f2;  
} 

.heb-card img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.heb-description {
  padding-left: 10px;
  padding-bottom: 10px;
}

.heb-description h2 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

.heb-description p {
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 6px;
}

.star {
  color: #0065fc;
  font-size: 12px;
}

.no-star {
  color: #f2f2f2;
  font-size: 12px;
}

/* <-- Section hebergement populaire --> */

.pop-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 35%;
  border-radius: 20px;
  background-color: #f2f2f2;
  justify-content: center;
  margin-right: 50px;
  padding-bottom: 40px;
}

.pop-div {
  background-color: white;
  border-radius: 20px;
  margin: 20px 20px 20px 20px;
  border: 4px solid white;
  margin-bottom: -10px;
  padding-left: 5px;
}

.pop-div:nth-child(1) {
  border: none;
  background-color: #f2f2f2;
  margin-top: 0px;
}

.pop-title {
  font-weight: 700;
  font-size: 22px ;
  margin-top: 25px;
  margin-bottom: 16px !important;
  margin-left: 0;
}

.pop-title i{
  display: flex;
  justify-content: flex-end;
  margin-top: -25px;
}

.pop-img img {
  border-radius: 20px 0 0 20px ;
  justify-content: flex-start;
  width: 40%;
  height: 150px;
  object-fit: cover;
  object-position: center;
  float: left;
}

.pop-description {
  padding-top: 12px;
}

.pop-description p {
  margin-left: 15px;
  font-size: 12px;
  margin-top: 8px;
  margin-bottom: 40px;
}

.pop-description h2 {
  font-size: 16px;
  font-weight: bold;
} 

@media screen and (max-width: 576px) {

  #hebergement {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .heb-container {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction:column ;
    border-radius:0 ;
  }

  .heb-card {
    width: 90%;
    border: 4px solid white;
    margin-top: 20px;
  }
  
  .heb-card img {
    height: 110px;

  }
  .heb-title {
    margin-top: 40px;
  }
  
  .heb-link {
    background-color: white;
  }

  aside {
    order: -1;
  }

  .pop-container {
    width: 100%;
    border-radius: 0;
    margin: 0;  
  }
  
  .pop-div {
    width:  85%;
  }

  .pop-div:nth-child(1) {
    margin-top: 15px;
  }
  
  .pop-img img {
    height: 135px;
  }

  .pop-title {
    margin-bottom: -10px;
  }

}