
*,
*::before,
*::after {
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Raleway', sans-serif;
  padding-left: 3%;
}

a{
  text-decoration: none;
  color: #0065FC;
}

li{
  list-style: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*<-- header navbar-->*/

.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.nav-logo {
  position: relative;
  height: 20px;
  align-items: baseline;
  padding-bottom: 100px;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav li {
  font-size: 17px;
  font-weight: 400;
  padding:  30px;
  border-top: 4px solid transparent;
  width: 50%;
  margin-right: 20px;
}

.nav li:hover {
  border-top: 4px solid #0065FC;
}

/* <-- section Seach form --> */

.h1 {
  height: auto;
}

.sub-title {
  font-weight: bold;
  color: #f2f2f2;
}

.search-form {
  width: 400px;
  padding: 20px 0 20px 0 ;
  border: none; 
  margin-top: 8px;
  color: #e7e2e2;
}

.search-form__icon {
  border: 1px solid transparent;
  border-radius: 10px 0 0 10px;
  height: 50px;
  width: 60px;
  background-color: #e7e2e2;
}

.search-form__input {
  height:50px;
  width: 250px;
  padding-left: 10px;
  font-weight: bold;
  color: black;
  border: 0.5px solid #f2f2f2;
}

.search-form__btn {
  border: 1px solid transparent; 
  border-radius: 0 10px 10px 0;
  height: 50px;
  width: 150px;
  font-weight:bold ;
  color: white;
  background-color:#0065FC;
}

/* <--  Filtres --> */

.filter-cont {
  margin-left: 0px;
  margin-top: 5px;
  display:flex;
  align-items: center;
  flex-wrap: wrap;
}
 
.filter-title {
  margin-right: 20px;
}

.filter-btn {
  margin-right: 20px;
}

.filter-icons {
  border-radius: 50%;
  color: #0065FC;
  width: 45px;
  height: 50px;
  background-color: #DEEBFF;
  position:absolute;
}

.filter-text {
  height: 50px;
  width: 280px;
  border: 0.5px solid #f2f2f2;
  border-radius: 25px 25px 25px 25px;
} 

.sub-info {
  margin-top: 30px;
  margin-bottom: 30px;
}

.filter-icons-small {
  border-radius: 50%;
  color: #0065FC;
  width: 20px;
  height: 20px;
  background-color: #DEEBFF;
  position:absolute;
  border: 0.5px solid #f2f2f2;
}

.sub-info p {
  margin-left: 30px;
  color:#e7e2e2;
  font-size: 16px;
  font-weight:bold;
}
  
/* <-- Section hebergement --> */

#hebergements {
  display: flex;
  justify-content: flex-start;
  justify-items: center;
  margin-top: 10px ;
}

#hebergements a {
  text-decoration: none;
  color: black;
}

.heb-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
  margin-right: auto;
  border-radius: 20px;
  background-color: #f2f2f2;
  justify-content: space-between;
}

.heb-title {
  font-weight: bold;
  font-size: 20px ;
  margin-top: 20px;
}

.heb-link {
  font-weight: bold;
  font-size: 20px ;
  margin-top: 15px;
   width: 100%;
  background-color: #f2f2f2;
  padding-left: 20px;
  border: none;

}

.heb-div {
  width: 30%;
  background-color: white;
  border-radius: 20px;
  margin: auto;
  margin-bottom: 15px;
  border: 3px solid white;  
} 

.heb-div:nth-child(1),
.heb-div:nth-child(8) {
  width: 100%;
  background-color: #f2f2f2;
  padding-left: 20px;
  border: none;
}

.heb-div img {
  border-radius: 20px 20px 0 0;
  justify-content: center;
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: center;
}

.heb-description {
  padding-left: 10px;
  padding-bottom: 10px;
}

.heb-description p {
  font-size: 12px;
  margin-top: 8px;
  margin-bottom: 6px;
}

.heb-description h2 {
  font-size: 16px;
  font-weight: bold;
}

.star {
  color: #0065fc;
}

.no-star {
  color: #f2f2f2;
}

/* <-- Section hebergement populaire --> */

.pop-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 35%;
  border-radius: 20px;
  background-color: #f2f2f2;
  justify-content: center;
  margin-right: 50px;
}

.pop-div {
  width: 80%;
  background-color: white;
  border-radius: 20px;
  margin: auto;
  margin-bottom: 20px;
  border:3px solid white;
}

.pop-div:nth-child(1) {
  border: none;
  background-color: #f2f2f2;
  margin-top: 0;
}

.pop-title {
  font-weight: bold;
  font-size: 20px ;
  margin-top: 20px;
}

.pop-title i{
  display: flex;
  justify-content: flex-end;
  margin-top: -30px;
}

.pop-img img {
  border-radius: 20px 0 0 20px ;
  justify-content: flex-start;
  width: 40%;
  height: 150px;
  object-fit: cover;
  object-position: center;
  float: left;
  margin-right: 10px;
}

.pop-description {
padding-top: 20px;
}

.pop-description p {
  font-size: 12px;
  margin-top: 14px;
  margin-bottom: 30px;
}

.pop-description h2 {
  font-size: 16px;
  font-weight: bold;
} 

/* <-- Section hebergement populaire aside --> */

/* <-- Section activités --> */


/* <-- Section Footer --> */