*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Raleway', sans-serif;
}

.container,
.heb-container,
.pop-container {
  margin-left: 3%;
}

/* <-- Section activités --> */


/* <-- Section Footer --> */